<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>

    
</head>
<body >
<div style="background-image:url(https://media.magic.wizards.com/image_legacy_migration/images/magic/daily/sf/sf127_splash4.jpg);
opacity: 0.2;
">

</div>



<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img  th:src="@{images/logo.png}" src="/images/logo.png"  width="auto" height="120" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>

    </div>

</nav>

<div>
    <br>
<center>
    <h1 >Welcome to <strong> KOLLECTOR</strong></h1>
    <h2>We deal with Cards</h2></center>
<br>
    <h2><center> About us</center></h2>
    <center><h4>OUR PURPOSE
        From our sub-Saharan Africa headquarters located in Stellenbosch, South Africa, for more than 70 years, Pfizer has been delivering life-changing breakthroughs to the people of South Africa. Guided by our values and the three pillars of innovation, investing and safeguarding, we work with Healthcare Practitioners, Policy Makers, Patient Groups and other members of civil society to serve the communities in which we live and work, broadening access to medicines and strengthening healthcare delivery for the people who need it most.
        Living our values of courage, excellence, equity and joy, we are a diverse team of about 250 people working daily to provide all South Africans with access to global scientific innovation that can help them to live longer, better lives. Through our commitment to the national agenda, we are contributing to the development of a strong healthcare system, as well as growth of the knowledge economy in the interest of those who need to be empowered today and to the benefit of the generations to come. </h4>
    </center>
    <center><p>This is our attempt of a website project thingy.</p></center>
</div>
<div class=" fixed-bottom" style="background-color: #343a40"  >
    <p style="color: white;"></p>
    <div class="footer-copyright text-center py-3" style="color: white;">© 2021 Copyright:
        <a href="https://Kollector.com"> Kollector.com</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>